body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/vaporwave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.hello {
    position: fixed;
    margin: 30px;
    font-size: 275%;
    text-decoration: none;
    color: #ff009d;
    letter-spacing: 5px;
    transition: all 100ms ease-out;
}

.hello:hover {
    color: #e342db;
}

.rocket {
    background-image: url('images/space_vector.jpg');
    width: 100%;
    height: 850px;
    background-size: 79%;
    border-radius: 20px;
    align-items: center;
    max-width: 100%;
    transition: all 300ms ease-out;
}
.rocket:hover {
    background-image: url('images/space_vector.jpg');
    width: 100%;
    height: 850px;
    background-size: 79%;
    border-radius: 20px;
    align-items: center;
    max-width: 100%;
    box-shadow: 10px 10px 20px #000;
    transition-duration: 300ms;
}

.future {
    text-align: center;
    font-size: 500%;
    font-family: 'Space Mono', sans-serif;
    opacity: 100%;
    color: #ffffff;
    padding: 270px
}

.features {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    padding: 50px;
    font-family: 'Nunito', sans-serif;
    transition: all 300ms ease-out;
}

.features:hover {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000;
    transition-duration: 300ms;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {   
    display: none;
}

.logging-deleted {
    width: 50%;
    height: auto;
}

.logging-def {
    font-size: 200%;
    float: right;
    padding-top: 150px;
    text-align: right
}

.plugins {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    padding: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    transition: all 300ms ease-out;
    font-size: 125%
}

.plugins:hover {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000;
    transition-duration: 300ms;
}

.logging {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    padding: 50px;
    font-family: 'Nunito', sans-serif;
    transition: all 300ms ease-out;
}

.logging:hover {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000;
    transition-duration: 300ms;
}